<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center" text-center>
    <img src="../assets/imgs/assesment.png" style="max-width: 50px;margin-right: 54px">
    <curved-line></curved-line>
    <img src="../assets/imgs/arthimetic.png" style="max-width: 50px">
    <righttodown></righttodown>
    <br>
    <lefttodown></lefttodown>
    <img src="../assets/imgs/assesment.png" style="max-width: 50px">
    <curved-line></curved-line>
    <img src="../assets/imgs/arthimetic.png" style="max-width: 50px">
    <uptoright></uptoright>
    <br>
    <uptoleft></uptoleft>
    <img src="../assets/imgs/assesment.png" style="max-width: 50px">
    <curved-line></curved-line>
    <img src="../assets/imgs/arthimetic.png" style="max-width: 50px;margin-left: 57px;">
    <!--<img src=""  >-->
  </div>
  <span *ngFor="let course of courseData">
    <explanationstage *ngIf="course.explanationStage != null" [values]="course.explanationStage"></explanationstage>
    <quizestage *ngIf="course.quizStage != null"></quizestage>
  </span>
</ion-content>
